@model List<Vacations.Models.DateModel>

@{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    ViewBag.Title = "Create";
    Layout = (string)this.Session["Header"];
    if (this.Session["rolUsuario"] == null)
    {
        Layout = "~/Views/Shared/_LayoutHome.cshtml";
        <h2>Vista no autorizada, por favor @Html.ActionLink("inicie sesion", "Index", "Home")</h2>
    }
    else
    {

        <h2>Solicitud de Vacaciones</h2>
        using (Html.BeginForm("Check", "Request", FormMethod.Post, htmlAttributes: new { @id = "myForm" }))
        {
            @Html.AntiForgeryToken()

            if (ViewBag.Message == "sent")
            {
                <script type="text/javascript">


                    $.alert({
                        title: 'Alert!',
                        content: 'Simple alert!',
                        theme: "modern"
                    });

                </script>

            }
            else if (!string.IsNullOrEmpty(ViewBag.Message))
            {

                <div class="alert-danger col-md-4">
                    @ViewBag.Message
                </div><br /><br />

            }
            <table class="table">
                @for (int index = 0; index < Model.Count; index++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(item => item[index].date)@Html.HiddenFor(item => item[index].date)
                        </td>
                        <td>
                            @for (int index2 = 0; index2 < Model[index].turn.Count; index2++)
                            {
                                <div class="col-md-10">
                                    @Html.HiddenFor(modelItem => Model[index].turn[index2].id)
                                    @Html.CheckBoxFor(modelItem => Model[index].turn[index2].isChecked)@Html.HiddenFor(modelItem => Model[index].turn[index2].isChecked)
                                    @Html.DisplayFor(modelItem => Model[index].turn[index2].label)@Html.HiddenFor(modelItem => Model[index].turn[index2].label)
                                </div>
                            }

                        </td>
                    </tr>

                }

            </table>
            <input type="submit" value="Enviar" class="btn btn-default" onsubmit="openModal()" id="Send" />
        }
    }
            <script>
                $(document).ready(function () {
                    var button = $("#Send");
                    button.click(function (event) {
                        window.location = '/';
                    })
                });


            </script>
}
