@model Vacations.Request
@{
    ViewBag.Title = "Actualizar Solicitud";
    HoliDays[] holiDaysDate = ViewBag.holidaysDate as HoliDays[];
    DateTime[] holidates = ViewBag.holidates as DateTime[];


    Layout = (string)this.Session["Header"];
    if (this.Session["rolUsuario"] == null)
    {
        Layout = "~/Views/Shared/_LayoutHome.cshtml";
        <h2>Vista no autorizada, por favor @Html.ActionLink("inicie sesion", "Index", "Home")</h2>
    }
    else
    {

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

            <script>
                // Ignore this in your implementation
                window.isMbscDemo = true;
            </script>


            <!-- Mobiscroll JS and CSS Includes -->
            <link rel="stylesheet" href="~/Content/mobiscroll.javascript.min.css">
            <script src="~/Scripts/mobiscroll.javascript.min.js"></script>

            <style type="text/css">
                body {
                    margin: 0;
                    padding: 0;
                }
            </style>

        </head>


        <h2>Create</h2>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">@Html.ActionLink("Inicio >", "Index", "Home")</a></li>
                <li class="breadcrumb-item"><a href="#">@Html.ActionLink("Perfil >", "Profile", "Profile")</a></li>
                <li class="breadcrumb-item active" aria-current="page">Vacaciones ></li>
            </ol>
        </nav>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2>Solicitud de Vacaciones</h2>

                <div>
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert-danger col-md-4">
                            @ViewBag.Message
                        </div><br /><br />
                    }
                </div>

                <div mbsc-page class="demo-multiple-day-selection">
                    <div mbsc-form>
                        <div class="mbsc-grid">
                            <div class="mbsc-row">
                                <div class="mbsc-col-sm-12 mbsc-col-md-4">
                                    <div class="mbsc-form-group">
                                        <div class="mbsc-form-group-title">Seleccione los días a solicitar</div>
                                        @Html.HiddenFor(model => model.days, htmlAttributes: new { @id = "demo-multi-day" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Confirmar" class="btn btn-default" id="btnConfirm" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
        @section scripts{
            <script>
        var holiDaysDate = @Html.Raw(Json.Encode(ViewBag.holidates));
        //var date = new Date(parseInt(holiDaysDate.counters.date));
        var freedays = []
        @foreach (var d in @ViewBag.holidates)
        {
            @:freedays.push("@d");
        }

        mobiscroll.settings = {
            lang: 'es',                      // Specify language like: lang: 'pl' or omit setting to use default
            theme: 'ios',                    // Specify theme like: theme: 'ios' or omit setting to use default
            themeVariant: 'light'            // More info about themeVariant: https://docs.mobiscroll.com/4-10-2/javascript/calendar#opt-themeVariant
        };

        mobiscroll.calendar('#demo-multi-day', {
            display: 'inline',               // Specify display mode like: display: 'bottom' or omit setting to use default
            select: 'multiple',               // More info about select: https://docs.mobiscroll.com/4-10-2/javascript/calendar#opt-select
            invalid: freedays
        });

        mobiscroll.calendar('#demo-max-days', {
            display: 'inline',               // Specify display mode like: display: 'bottom' or omit setting to use default
            select: 5,                       // More info about select: https://docs.mobiscroll.com/4-10-2/javascript/calendar#opt-select
            headerText: 'Pick up to 5 days'  // More info about headerText: https://docs.mobiscroll.com/4-10-2/javascript/calendar#opt-headerText
        });

        mobiscroll.calendar('#demo-counter', {
            display: 'inline',               // Specify display mode like: display: 'bottom' or omit setting to use default
            select: 'multiple',              // More info about select: https://docs.mobiscroll.com/4-10-2/javascript/calendar#opt-select
            counter: true                    // More info about counter: https://docs.mobiscroll.com/4-10-2/javascript/calendar#opt-counter
        });
            </script>

        }
    }
}