

@{
    Layout = (string)this.Session["Header"];
    ViewBag.Title = "Details";
    Vacations.Models.RequestDTO request = ViewData.Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        function ConfirmMessege() {
            //Ingresamos un mensaje a mostrar
            var mensaje = confirm("¿Estás seguro (a) que deseas aceptar la solicitud?");
            //Detectamos si el usuario acepto el mensaje
            if (mensaje) {
                var reason = prompt("Ingrese el motivo por el cual acepta la solicitud", "");
            }
            //Detectamos si el usuario denegó el mensaje
            else {
                alert("¡Haz denegado el mensaje!");
            }
        }
    </script>

    <script type="text/javascript">
        function DenyMessege() {
            //Ingresamos un mensaje a mostrar
            var mensaje = confirm("¿Estás seguro (a) que deseas rechazar la solicitud?");
            //Detectamos si el usuario acepto el mensaje
            if (mensaje) {
                var reason = prompt("Ingrese el motivo por el cual rechaza la solicitud", "");
            }
            //Detectamos si el usuario denegó el mensaje
            else {
                alert("¡Haz denegado el mensaje!");
            }
        }
    </script>

    <script type="text/javascript">
        function ConfirmReason() {
            //Ingresamos un mensaje a mostrar
            var mensaje = confirm("¿Estás seguro (a) que desea enviar este motivo?");
            //Detectamos si el usuario acepto el mensaje
            if (mensaje) {
                alert("¡Gracias por aceptar!");
            }
            //Detectamos si el usuario denegó el mensaje
            else {
                alert("¡Haz denegado el mensaje!");
            }
        }
    </script>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">@Html.ActionLink("Inicio", "Index", "HomeManager")</a></li>
            <li class="breadcrumb-item active" aria-current="page">Solicitudes</li>
            <li class="breadcrumb-item active" aria-current="page">@Html.ActionLink("Atender Solicitudes", "Serve", "ServeRequest")</li>
            <li class="breadcrumb-item active" aria-current="page">Detalles</li>
        </ol>
    </nav>
    <h2>Detalles de la solicitud</h2>
    <div>
        <table class="table table-hover table-dark">
            <thead>

                <tr>
                    <th scope="col" width="150">Solicitante</th>
                    <th scope="col" width="150">Departamento</th>
                    <th scope="col" width="150">Días solicitados</th>
                    <th scope="col" width="150">Motivo</th>
                    <th scope="col" width="150">Estado</th>
                </tr>
            </thead>
            <tbody>   
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => request.personName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => request.departmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => request.daysRequestedCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => request.description)
                    </td>
                    <td>
                        <button type="button" class="alert-success" onclick="ConfirmMessege()">Aceptar</button>
                        <button type="button" class="alert-danger" onclick="DenyMessege()">Rechazar</button>
                    </td>
                </tr>
                
            </tbody>
        </table>

        <form>
            <div class="form-group">
                <label for="TextArea" name="LabelTextAreaConfirm">Ingrese el motivo de confirmación de la solicitud</label>
                <textarea class="form-control" id="TextareaConfirm" rows="3"></textarea>
            </div>
        </form>
        <button type="button" class="bg-success" onclick="ConfirmReason()">Enviar</button>

    </div>
    <FORM NAME="buttonbar">
        <INPUT class="bg-primary" TYPE="button" VALUE="Atrás" onClick="history.back()">
    </FORM>
</body>
</html>
