@model List<Vacations.Models.RequestDTO>

@{
    ViewBag.Title = "Serve";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">@Html.ActionLink("Inicio", "Index", "HomeManager")</a></li>
            <li class="breadcrumb-item active" aria-current="page">Solicitudes</li>
            <li class="breadcrumb-item active" aria-current="page">Atender Solicitudes</li>
        </ol>
    </nav>

    <h2>Lista de solicitudes de vacaciones</h2>
    <form asp-page="./Serve" method="get">
        <div class="form-actions no-color">
            <p>
                Buscar por nombre:
                <input type="text" name="SearchString" />
                <input type="submit" value="Buscar" class="btn btn-primary" /> |
                <a asp-page="./Index">@Html.ActionLink("Volver a la lista general", "Serve", "ServeRequest")</a>
            </p>
        </div>
    </form>

    <div>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Solicitante</th>
                    <th scope="col">Fecha de solicitud</th>
                    <th scope="col">Detalles</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in ViewData.Model)
       
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonpersonaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        <a asp-page="./Ver más">
                            @Html.ActionLink("Ver más", "Details", "ServeRequest"))

                        </a>
                    </td>
                </tr>
                    }
                

            </tbody>
        </table>

    </div>
</body>
</html>